@import "../../global.scss";

.about {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    position: absolute;
    background-color: white;
    height: calc(100vh - 50px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title{
      display: flex;
      height: 10%;
      width: 75%;
      justify-content: center;
      align-items: center;

      h1{
        font-size: 45px;
      }
    }

    .top{
      display: flex;
      height: 40%;
      width: 90%;
      justify-content: space-around;

      .left{
        display: flex;

        img{
          @include phone {
            height: 200px;
            width: 175px;
          }
        }
      }

      .right{
        display: flex;
        flex-direction: column;

        label{
          font-size: 14px;
          color: gray;

          @include tablet {
            font-size: 10px;
          }
        }

        p{
          font-size: 18px;

          @include tablet {
            font-size: 14px;
          }
        }
      }
    }

    .bottom{
      display: flex;
      height: 40%;
      width: 75%;
      justify-content: center;
    }
  }
}
